/* CSS fuer die CrypTool HTML Hilfe */

/* "td" below is a workaround for a IE bug (font-size in td not inherited from body) */
body, td {background-color:#FFFFFF;text:#000000;font-family:Arial;font-size:11pt;}

a:link { color:#0000FF; }
a:visited { color:#000080; }
a:active { color:#008000; }

li.withTopMargin { margin-top:10pt; }

h1 {font-family:Arial;bold;font-size:16pt;}
h2 {font-family:Arial;bold;font-size:14pt;}
h3 {font-family:Arial;bold;font-size:12pt;}
h4 {font-family:Arial;bold;font-size:11pt;}


div.indent {margin-left:40pt} /* wird verwendet, um beliebige Blocke einzuruecken */
div.monospace { font-family: Courier; font-size: 11pt; }

p.tindent {text-indent:-40pt;margin-left:40pt;} /* wird verwendet, um Einrueckung nach Zeilenumbruechen zu realisieren */
p.paddedleft { padding-left: 10pt; }

table.pad10 td {padding-left:10pt;padding-right:10pt;} /* Gestaltung der Tabellen durch einen Rand links und rechts des Tabelleninhaltes */
table.pad20 td {padding-left:20pt;padding-right:20pt;}
table.pad30 td {padding-left:30pt;padding-right:30pt;}

a.filelink { text-decoration: underline; color: green; cursor: hand; }