p  { font-family:Verdana;font-size:10pt;margin-top:1pt; }

h1 { font-family:Verdana;font-size:10pt;font-weight:bold;text-transform:uppercase;margin-top:18pt;margin-bottom:12pt; }

h2 { font-family:Verdana;font-size:10pt;font-weight:bold;margin-top:0pt;margin-bottom:8pt; }

h3 { font-family:Verdana;font-size:14pt;font-weight:bold;margin-top:0pt;margin-bottom:8pt; }

h4 { font-family:Verdana;font-size:12pt;font-weight:bold;margin-top:0pt;margin-bottom:8pt; }

h4.link { margin-bottom: 0pt; color: red; }

ul li { font-family:Verdana;font-size:10pt;margin-bottom:1pt; }

ol li { font-family:Verdana;font-size:10pt;margin-bottom:1pt; }



/* standard hyperlinks */

a:link    { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#000000; }

a:visited { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#222222; }

a:hover   { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#FFFFFF; }

a:active  { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#000099; }


/* standard hyperlinks for the survey*/

a:link.poll    { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#fdab0f; }

a:visited.poll { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#fdab0f; }

a:hover.poll   { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#ffFFFF; }

a:active.poll  { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#000099; }



/* hyperlink class for word document links */

/* change visited color to 00006A when finished editing */

a:link.w    { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#0000A5; }

a:visited.w { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#0000A5; }

a:hover.w   { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#CCCCFF; }

a:active.w  { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#FFFFFF; }



/* hyperlink class for pdf document links */

/* change visited color to 770000 when finished editing */

a:link.p    { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#AA0000; }

a:visited.p { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#AA0000; }

a:hover.p   { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#FFCCCC; }

a:active.p  { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#FFFFFF; }



/* hyperlink class for vsd document links */

/* change visited color to 00xx00 when finished editing */

a:link.v    { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#005000; }

a:visited.v { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#005000; }

a:hover.v   { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#AAFFAA; }

a:active.v  { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#FFFFFF; }



/* hyperlink class for special links */

/* change visited color to xxxxxx when finished editing */

a:link.s    { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#000000; }

a:visited.s { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#000000; }

a:hover.s   { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:underline;color:#000099; }

a:active.s  { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#000099; }



/* hyperlink class for entry page links*/

a:link.i    { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#FFFFFF;text-align:center; }

a:visited.i { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#FFFFFF;text-align:center; }

a:hover.i   { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#6699FF;text-align:center; }

a:active.i  { font-family:Verdana;font-weight:bold;font-size:10pt;text-decoration:none;color:#6699FF;text-align:center; }

address { font-size:-1; }


/* navigation bar */
div.l0 { margin-left: 1ex; font-family:Verdana; font-size: 10pt; font-weight: bold; }
div.l0 p { margin-bottom: 3pt; }

ul.l1 { margin-top: 0px; margin-bottom: 0px; margin-left: 0px; padding-left: 1.5em; }
ul.l1 { list-style-type: disc; margin-top: 0px; padding-left: 1.5em; margin-bottom: 0pt; }
ul.l1 a         { font-weight:normal; }
ul.l1 a:link    { font-family:Verdana;font-weight:normal;font-size:10pt; text-decoration:none; color:#000000; }
ul.l1 a:visited { font-family:Verdana;font-weight:normal;font-size:10pt; text-decoration:none; color:#222222; }
ul.l1 a:hover   { font-family:Verdana;font-weight:normal;font-size:10pt; text-decoration:none; color:#FFFFFF; }
ul.l1 a:active  { font-family:Verdana;font-weight:normal;font-size:10pt; text-decoration:none; color:#000099; }
